@font-face {
  font-family: "gilroylight";
  src: url("gilroy-light-webfont.woff2") format("woff2"),
    url("gilroy-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroyextrabold";
  src: url("gilroy-extrabold-webfont.woff2") format("woff2"),
    url("gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroylight", Arial, sans-serif;
}

body {
  background: url(prospaBG.png), linear-gradient(90deg, #fa4a84, #7e51ff);
}

nav {
  background-color: #260350;
  height: 100vh;
  width: 20%;
  font-size: 0.9rem;
  position: absolute;
  top: 0px;
}

li {
  position: relative;
  list-style: none;
  margin-top: 20px;
  color: white;
  font-family: san-serif;
  text-align: center;
}

.toplogo {
  margin-bottom: 30px;
  margin: 10% 18%;
}

.MainContent {
  position: absolute;
  top: 10%;
  left: 25%;
}

.active {
  display: flex;
  color: white;
  font-weight: bold;
  padding: 6% 100% 6% 0%;
  background-color: #f84882;
  text-decoration: none;
  text-align: center;
  margin-left: 0;
}

.icon {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  margin-left: 3rem;
}

.bigIcon {
  height: 45px;
  width: 45px;
  margin-right: 10px;
}

li.flexed {
  display: flex;
}

.MainContent h1 {
  color: #260350;
}

hr {
  margin-top: 3%;
  width: 70vw;
  margin-right: 5%;
  border: 0.2px solid rgba(38, 3, 80, 0.1);
}

.accContainer {
  position: relative;
  height: 22vh;
  width: 33vw;
  margin-top: 5%;
  border-radius: 10px;
  display: flex;
  box-shadow: 1px 2px 3px 2px rgba(38, 3, 80, 0.2);
}

.accContainer h1 {
  position: absolute;
  left: 7%;
  top: 10%;
  font-size: 1.5rem;
  font-weight: bold;
}

.accContainer h3 {
  position: absolute;
  left: 7%;
  top: 35%;
  font-size: 1rem;
  color: #8291a1;
}

.accContainer h2 {
  position: absolute;
  left: 7%;
  top: 60%;
  font-size: 1.7rem;
  font-weight: 900;
  color: #260350;
}

.accContainer img {
  position: absolute;
  left: 80%;
  top: 15%;
}

div.flex {
  display: flex;
  justify-content: space-between;
}

h1.marginU {
  margin-top: 8%;
}

#addNew {
  position: relative;
  border: 1px dashed rgba(38, 3, 80, 0.2);
  box-shadow: none;
  height: 22vh;
  width: 33vw;
  margin-top: 5%;
  border-radius: 10px;
}
.addButton {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  font-size: 1.8rem;
  text-align: center;
  background-color: #e4e7eb;
  color: #a3adb9;
  border: none;
}

.label {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  color: #a3adb9;
}

div.topbar {
  height: 2.5rem;
  padding: 10px 0 10px 0;
  box-shadow: 0px 0px 3px 0px rgba(38, 3, 80, 0.5);
  display: flex;
  width: 80%;
  margin-left: 20%;
  justify-content: flex-end;
}
.topbar h4 {
  margin-top: 0.3rem;
  font-size: 0.6rem;
  color: #260350;
  vertical-align: middle;
  margin-left: 1%;
}

.profilepic {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: 1.5%;
}

.right {
  margin-right: 5%;
  height: 10px;
  width: 10px;
  margin-top: 0.5rem;
  margin-left: 0.4rem;
}

.left {
  margin-left: 0.5rem;
}

.hidden {
  display: none;
}
.navDesign {
  position: absolute;
  top: 90vh;
}

.welcomepage {
  height: 100vh;
}

.requirements .colored {
  background-color: #260350;
}

.welcome {
  display: flex;
  justify-content: space-between;
}
.amaka {
  margin: 0 10%;
  height: 250px;
}
.welcome h1 {
  font-family: gilroyextrabold;
  font-size: 2.8rem;
  margin: 5% 0 0 9rem;
  color: #260350;
}
.welcome p {
  margin: 0 0 0 7rem;
}

.gradientBG {
  background: url(prospaBG.png), linear-gradient(90deg, #fa4a84, #7e51ff);
  padding: 5% 5% 25% 5%;
  height: 100vh;
}

.gradientBG h1 {
  margin-top: 2%;
  text-align: center;
  color: #fff;
  font-family: gilroyextrabold;
}
.gradientBG p {
  margin-bottom: 7%;
  text-align: center;
  color: #e4e7eb;
}
.requirements {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1%;
  margin-bottom: 5%;
}

.items {
  height: 50vh;
  width: 25vw;
  background-color: #fff;
  border-radius: 0.7rem;
  box-shadow: 1px 1px 1px 2px rgba(25, 2, 53, 0.2);
  position: relative;
}
img.illustration {
  position: absolute;
  height: 35%;
  left: 50%;
  transform: translateX(-50%);
}

.bottomdiv p {
  margin: 3% 0% 0 80%;
  font-size: 0.7rem;
}
button {
  font-size: 1.2rem;
  border-radius: 50px;
  border-bottom-left-radius: 0;
  margin: 0% 5% 0% 0%;
  padding: 0.7rem 2rem 0.7rem 2rem;
  float: right;
  background-color: #fff;
  color: #260350;
  text-decoration: none;
  box-shadow: 1px 2px 3px 2px rgba(38, 3, 80, 0.2);
}

.items h2 {
  text-align: left;
  margin-left: 1rem;
  margin-top: 5%;
  color: #0a1035;
  font-size: 1.8rem;
  font-weight: bolder;
}

.items p {
  text-align: left;
  margin-top: 50%;
  padding: 0 2% 0 5%;
  color: #0a1035;
  font-size: 1rem;
}

.welcomelogo {
  height: 2rem;
  margin: 0% 0% 0 50%;
  transform: translateX(-50%);
}

@keyframes slideIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 768px) {
  .accContainer h1 {
    font-size: 0.7rem;
    top: 30%;
  }
  .accContainer h3 {
    font-size: 0.5rem;
    top: 50%;
  }

  .accContainer h2 {
    font-size: 0.8rem;
    top: 70%;
  }
  .bigIcon {
    height: 35px;
    width: 35px;
    margin-top: 0px;
    transform: translate(-250%, -40%);
  }
  ul {
    display: flex;
  }

  nav {
    background-color: #260350;
    width: 100vw;
    height: 50px;
    position: fixed;
    bottom: 0px;
  }
  .toplogo {
    height: 30px;
    margin-left: 4%;
    margin-top: 3%;
  }
  li.flexed {
    display: none;
  }
  .MainContent {
    position: absolute;
    top: 10%;
    left: 15%;
  }
  .label {
    font-size: 0.5rem;
    text-align: center;
  }

  .hidden {
    position: absolute;
    top: 1rem;
    left: 90%;
    display: block;
    height: 15px;
    width: 20px;
    margin-top: none;
  }

  h1 {
    font-size: 1.5rem;
    margin-top: 10%;
  }

  .navDesign {
    display: none;
  }
  h1.marginU {
    margin-top: 8%;
    margin-top: 20%;
  }

  .amaka {
    display: none;
  }
  .welcome h1 {
    margin: 5% 0 0 3rem;
  }
  .welcome p {
    margin: 0 0 0 3rem;
  }
  .bottomdiv button {
    margin: 0% 0% 0 58%;
    padding: 0.7rem 2rem 0.7rem 2rem;
  }
  .bottomdiv p {
    margin: 3% 0% 0 65%;
    font-size: 0.7rem;
  }
  .requirements {
    display: block;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .items {
    height: 30vh;
    width: 70vw;
    background-color: #fff;
    border-radius: 1rem;
  }

  .items p {
    text-align: left;
    margin-top: 10%;
    padding: 0 2% 0 5%;
    color: #0a1035;
    font-size: 1rem;
  }

  .items h2 {
    padding-top: 5%;
    padding-left: 2%;
    font-size: 1.4rem;
  }

  img.illustration {
    display: inline-block;
    left: 80%;
    top: 3%;
  }

  .gradientBG h1 {
    margin-top: 10%;
  }
}
